context:
  extract_list: extract_list_localized # extract_list_global,extract_list_localized

list:
  - name: extract_list_localized
    values:
      SUPPLIER_PID: ''
      PRODUCT_DETAILS|INTERNATIONAL_PID: ''
      PRODUCT_DETAILS|SUPPLIER_ALT_PID: ''
      PRODUCT_DETAILS|MANUFACTURER_PID: ''
      PRODUCT_DETAILS|MANUFACTURER_NAME: ''
      PRODUCT_DETAILS|DELIVERY_TIME: ''
      PRODUCT_DETAILS|SPECIAL_TREATMENT_CLASS: ''
      PRODUCT_DETAILS|PRODUCT_STATUS: ''
      PRODUCT_DETAILS|PRODUCT_TYPE: ''
      PRODUCT_DETAILS:
        k: '@attributes.lang'
        v: '@value'
      PRODUCT_FEATURES|FEATURE:
        k: 'FNAME'
        v: 'FVALUE'
      PRODUCT_FEATURES|REFERENCE_FEATURE_GROUP_ID: ''
      PRODUCT_ORDER_DETAILS: ''
      PRODUCT_PRICE_DETAILS: ''
      PRODUCT_LOGISTIC_DETAILS: ''
      USER_DEFINED_EXTENSIONS|UDX.EDXF.MIME_INFO|UDX.EDXF.MIME:
        k: 'UDX.EDXF.MIME_CODE'
        v: 'UDX.EDXF.MIME_SOURCE'

  - name: extract_list_global
    values:
      SUPPLIER_PID: ''
      PRODUCT_DETAILS|INTERNATIONAL_PID: ''
      PRODUCT_DETAILS|SUPPLIER_ALT_PID: ''
      PRODUCT_DETAILS|MANUFACTURER_PID: ''
      PRODUCT_DETAILS|MANUFACTURER_NAME: ''
      PRODUCT_DETAILS|DELIVERY_TIME: ''
      PRODUCT_DETAILS|SPECIAL_TREATMENT_CLASS: ''
      PRODUCT_DETAILS|PRODUCT_STATUS: ''
      PRODUCT_DETAILS|PRODUCT_TYPE: ''
      PRODUCT_DETAILS: ''
      PRODUCT_FEATURES|FEATURE:
        k: 'FNAME'
        v: 'FVALUE'
      PRODUCT_FEATURES|REFERENCE_FEATURE_GROUP_ID: ''
      PRODUCT_ORDER_DETAILS: ''
      PRODUCT_PRICE_DETAILS: ''
      PRODUCT_LOGISTIC_DETAILS: ''
      USER_DEFINED_EXTENSIONS|UDX.EDXF.MIME_INFO|UDX.EDXF.MIME:
        k: 'UDX.EDXF.MIME_CODE'
        v: 'UDX.EDXF.MIME_SOURCE'

converter:
  - name: flatten/xml/v1
    options:
      separator: '|'
      extract:list: '%extract_list%'

pipeline:
  input:
    reader:
        type: xml
        filename: upload_file
        xpath: T_NEW_CATALOG/PRODUCT
        converter: flatten/xml/v1

  encoder:
    parse:
      cleanse:
        remove_start:
          - '-'
      nullify: true
      filter_empty: true

  output:
    writer:
      type: jsonl
      filename: 'read/bmecat_products_converted.jsonl'
      skip_if_exists: true